﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>WebSite Tasks</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="scripts/app.js"></script>
</head>
<body ng-app="app" ng-controller="MainCtrl as main">
    <div class="container-fluid">
        <h1>Age calculator</h1>
        <p>
            This simple webapp displays a message based on user's name and date of birth. It consists of <code>index.html</code> and an Angular app contained in <code>scripts/app.js</code>.
        </p>
        <label>Tasks:</label>
        <ol>
            <li>Change the output message so it shows how old the user is in years, months and days.</li>
            <li>Display an error message if the username contains spaces, does not start with a capital letter or contains any non-alphabetic characters.</li>
        </ol>

        <hr/>
        <div class="col-xs-4">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-xs-3 control-label">Name</label>
                    <div class="col-xs-9">
                        <input class="form-control" type="text" maxlength="80" ng-model="main.name" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label">Date of birth</label>
                    <div class="col-xs-3">
                        <label>Day</label><input class="form-control" type="number" min="1" max="31" ng-model="main.dob.day" />
                    </div>
                    <div class="col-xs-3">
                        <label>Month</label><input class="form-control" type="number" min="1" max="12" ng-model="main.dob.month" />
                    </div>
                    <div class="col-xs-3">
                        <label>Year</label><input class="form-control" type="number" min="1900" max="2017" ng-model="main.dob.year" />
                    </div>
                </div>
            </form>
        </div>
        <div class="col-xs-8">
            <small style="position: absolute; top: 2px; left: 20px; font-weight: bolder;">Output message</small>
            <div class="jumbotron">
                {{main.name}} is {{main.getAge()}} years old.
            </div>
        </div>
    </div>
</body>
</html>
